@import "tailwindcss";

@keyframes neon-border {
  0% {
    border-image-source: linear-gradient(0deg, #ff0080, #00bfff);
  }
  25% {
    border-image-source: linear-gradient(90deg, #ff0080, #00bfff);
  }
  50% {
    border-image-source: linear-gradient(180deg, #ff0080, #00bfff);
  }
  75% {
    border-image-source: linear-gradient(270deg, #ff0080, #00bfff);
  }
  100% {
    border-image-source: linear-gradient(360deg, #ff0080, #00bfff);
  }
}

.border-animated {
  position: relative;
  padding: 0px;
  
}

.animated-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 2.5px;
  border-image-slice:1;
  animation: neon-border 1s linear infinite;
}

.outline-text {
  -webkit-text-stroke: 1px rgb(72, 208, 249);
  color: transparent;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
